#home-page {
    display: grid;
    gap: 20px;

    h1 {}
    .list {
        display: grid;
        gap: 10px;

        .post-card {
            border: 1px solid #acacac;
            border-radius: 5px;
            padding: 10px;
            display: grid;
            gap: 10px;
            justify-content: start;

            h2 {}
            div {}
            .delete-post {
                display: inline-block;
                padding: 10px 20px;
                background: rgb(216, 64, 102);
                color: #fff;
                text-decoration: none;
                border-radius: 5px;
                justify-self: start;
                transition: 125ms;

                &:hover {
                    opacity: .5;
                    cursor: pointer;
                }
            }
        }
    }
}