#app {
  display: grid;
  gap: 20px;
}
#app header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
#app header a {
  text-decoration: none;
}
#app header nav a {
  display: inline-block;
  color: orange;
  font-weight: 600;
}
#app header > a {
  background: rgb(77, 108, 247);
  padding: 10px 20px;
  border-radius: 100px;
  color: white;
  transition: 125ms;
}
#app header > a:hover {
  opacity: 0.5;
}
#app > main {
  padding: 20px;
}